body, div, span, header, footer, nav, section, aside, article, ul, dl, dt, dd, li, a, p, h1, h2, h3, h4,h5, h6, i, b, textarea, button, input, select, figure, figcaption{
  padding: 0;
  margin: 0;
  list-style: none;
  font-style: normal;
  text-decoration: none;
  border: none;
  font-weight: normal;
  font-family: "Microsoft Yahei", serif;
  box-sizing: border-box;
  -webkit-tap-highlight-color:transparent;
  -webkit-font-smoothing: antialiased;
  &:hover{
    outline: none;
  }
}

html,body{
  height: 100%;
  width: 100%;
  background-color: #F5F5F5;
}

/* 根据dpr显示2x图/3x图 */
.bg-image(@url){
  background-image:~"url('@{url}@2x.png')";
  @media (-webkit-min-device-pixel-ratio: 3),(min-device-pixel-ratio: 3){
    background-image:~"url('@{url}@3x.png')";
  }
}






a{
  text-decoration: none;
  color: gray;
}

.tag{
  background-color: #aee9c7;
  //color: #e96472;
  color: #ffffff;
  font-size: 1.4rem;
  padding: 0.4rem 0.8rem;
  border-radius: 0.5rem;
  margin: 0.3rem 0.5rem;
}



/*主题*/
.subject {
  display: flex;
  margin: 1rem 2rem;
  /*justify-content: center;*/
}
.subject h1{
  font-size: 2rem;
  font-weight: bold;
  flex-grow: 1;
  color: #323233;
}
.subject a{
  font-size: 1.3rem;
}

.subject_title{
  flex-grow: 1;
}
.subject_edit{
  font-size: 1.3rem;
}


// NavBar 导航栏占位
.top-bar {
  padding-top: 46px;
}
